name: Deploy Artifacts to S3

on:
  workflow_call:
    inputs:
      version:
        description: "The version string for this release"
        required: true
        type: string
      project:
        description: "The project name that will be used as the root folder in the bucket"
        required: true
        type: string
      region:
        description: "The S3 bucket region, defaults to eu-central-1"
        default: eu-central-1
        required: false
        type: string
    secrets:
      AWS_S3_BUCKET:
        description: "The S3 bucket where the artifacts will be uploaded"
        required: true
      AWS_ACCESS_KEY_ID:
        description: "An AWS key with write access to the bucket"
        required: true
      AWS_SECRET_ACCESS_KEY:
        description: "The secret for the AWS key"
        required: true

jobs:
  deploy-s3:
    runs-on: ubuntu-20.04
    steps:
      - name: Version
        run: echo "${{ inputs.version }}"

      - name: Get all artifacts
        uses: actions/download-artifact@v2
        with:
          path: artifacts

      - name: Upload to S3
        uses: jakejarvis/s3-sync-action@master
        with:
          args:
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ inputs.region }}
          SOURCE_DIR: artifacts
          DEST_DIR: "${{ inputs.project }}/${{ inputs.version }}"
