name: Semantic Version Management

on:
  workflow_call:
    outputs:
      version:
        description: "The calculated version"
        value: ${{ jobs.prepare-release.outputs.version }}
      tag:
        description: "The new tag if any"
        value: ${{ jobs.prepare-release.outputs.tag }}
      pep440:
        description: "The PEP440 compatible version for python packages"
        value: ${{ jobs.prepare-release.outputs.pep440 }}

jobs:
  prepare-release:
    runs-on: ubuntu-20.04
    steps:
      - name: Pre-calculate for PR to main
        if: ${{ github.event_name == 'pull_request' && github.event.pull_request.base.ref == 'main' }}
        id: version-pr
        uses: mathieudutour/github-tag-action@v6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          release_branches: main
          create_annotated_tag: true
          default_bump: false
          custom_release_rules: api:minor:API Changes,breaking:major:Major Changes,build:patch:Build Systems,ci:patch:Continuous Integration,doc:patch:Documentation,docs:patch:Documentation,feature:minor:Features,fix:patch:Bug Fixes,perf:patch:Performance Improvements,refactor:patch:Code Refactoring,revert:minor:Reverts,test:patch:Tests
          dry_run: true

      - name: New version/tag as comment in PR
        if: ${{ github.event_name == 'pull_request' && github.event.pull_request.base.ref == 'main' }}
        uses: peter-evans/create-or-update-comment@v2
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            # New release
            This PR was detected as a new release, see release details below.
            If you are ok to release with those values, please approve the PR.

            ## Version `${{ steps.version-pr.outputs.new_version }}`
            The new release will be `${{ steps.version-pr.outputs.new_version }}`, update from `${{ steps.version-pr.outputs.previous_version }}`

            ## TAG `${{ steps.version-pr.outputs.new_tag }}`
            The new tag will be `${{ steps.version-pr.outputs.new_tag }}`, update from `${{ steps.version-pr.outputs.previous_tag }}`

            ## Changelog
            ${{ steps.version-pr.outputs.changelog }}
          reactions: 'eyes'

      - name: Bump version and push tag
        if: github.ref == 'refs/heads/main'
        id: version-main
        uses: mathieudutour/github-tag-action@v6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          commit_sha: ${{ steps.merge.outputs.merge_sha }}
          release_branches: main
          create_annotated_tag: true
          default_bump: false
          custom_release_rules: api:minor:API Changes,breaking:major:Major Changes,build:patch:Build Systems,ci:patch:Continuous Integration,doc:patch:Documentation,docs:patch:Documentation,feature:minor:Features,fix:patch:Bug Fixes,perf:patch:Performance Improvements,refactor:patch:Code Refactoring,revert:minor:Reverts,test:patch:Tests

      - name: Create GitHub release with changelog
        if: github.ref == 'refs/heads/main'
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.version-main.outputs.new_tag }}
          name: Release ${{ steps.version-main.outputs.new_tag }}
          body: ${{ steps.version-main.outputs.changelog }}

      - name: Outputs for PR
        if: ${{ github.event_name == 'pull_request' && github.event.pull_request.base.ref == 'main' }}
        run: echo "NEW_TAG=${{ steps.version-pr.outputs.new_tag }}" >> $GITHUB_ENV

      - name: Outputs for main
        if: github.ref == 'refs/heads/main'
        run: |
          echo "NEW_TAG=${{ steps.version-main.outputs.new_tag }}" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v3

      - name: Get tags
        run: git fetch --prune --unshallow --tags
      
      - name: Set Version
        run: |
          TAG_VERSION_NUMBER=$(git describe --tags --dirty)
          echo "VERSION_NUMBER=${TAG_VERSION_NUMBER:1}" >> $GITHUB_ENV
          PEP440=$(git describe --tags --dirty | sed -e 's/v//' | sed -e 's/-/.dev/' | sed -e 's/-g.*//')
          echo "PEP440_VERSION_NUMBER=${PEP440}" >> $GITHUB_ENV
        shell: bash

      - name: Display outputs
        run: |
          echo "Version is ${{ env.VERSION_NUMBER }}"
          echo "TAG is ${{ env.NEW_TAG }}"
          echo "PEP440 is ${{ env.PEP440_VERSION_NUMBER }}"
        shell: bash

    outputs:
      version: ${{ env.VERSION_NUMBER }}
      tag: ${{ env.NEW_TAG }}
      pep440: ${{ env.PEP440_VERSION_NUMBER }}
